<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwjIMdvyKMuGHxrHomrPuF_bR8RhgYjhA</string>
	<key>GCM_SENDER_ID</key>
	<string>1088886745102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>congenialpotato-df190</string>
	<key>PROJECT_ID</key>
	<string>congenialpotato-df190</string>
	<key>STORAGE_BUCKET</key>
	<string>congenialpotato-df190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088886745102:ios:08f010308cc0d43967b45f</string>
</dict>
</plist>